*{
    margin: 0;
    padding: 0;
    box-sizing: border-boxs;
    font-family: "Open Sans", sans-serif;
}
.headers{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 130px 230px;
    background-image: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%),url('images/donation4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
   
}
.content{
    text-align: center;
}
.header-title{
    font-size:75px;
    font-weight: bolder;
    margin-bottom: 30px;
}
.header-description{
    font-size: 16px;
    margin-bottom: 30px;
    padding: 20px;
}
/* background: #FF5959 */
.btn-primary{
    font-size: 20px;
    background: #FF5959;
    color:#fff;
    padding: 20px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
}

/* main section starts */
/* donate-today */

.donate-today{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 230px;
    text-align: center;
    /* margin:130px auto; */
    background-color: blanchedalmond;
    
}
.section-title{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 20px;
}
.section-description{
    margin-bottom: 20px;
    padding: 40px;
    font-size: 20px;
    text-align: center;
    color: #707070;;
}


.prices{
    margin-top: 20px;
    display: flex;
    gap: 20px;
}
.price{
    width: 150px;
    height: 150px;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #707070;;
   
}
.price:hover{
    border: 2px solid #FF5959;
    cursor: pointer;
}
.donate-amaount{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
.donate-form{
    padding: 0 230px;
}
.donate-form input[type=text]{
    width: 700px;
    text-align: center;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #bebcbc;
    background-color: blanchedalmond;
    font-size: larger;
    color:#bebcbc;
}
/* donate-plan starts */

.donate-plan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 130px 230px;
    text-align: center;
}
.donate-plan-container{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.donate-options{
    text-align: left;
    padding: 10px;
}
.donate-title{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
}
/* contribute-one */
.contribute-one{
    margin: 130px 180px;
}

.contribute-container{
    display: flex;
    text-align: left;
    gap: 30px;

}
.contrib-item{
    width: 50%;
}
.contrib-item .section-description{
    text-align: left;
    margin-bottom: 10px;
    padding: 10px 0px;
}
.contrib-item-image{
    padding: 0;
}
.contrib-item-image>img{
    width: 500px;
    height: 400px;
    
}

.contribute-two{
    margin: 130px 180px;
}
.contribute-two .contribute-container{
    flex-direction: row-reverse;
    gap: 30px;
}

/* my-updates */
.my-updates{
    margin: 130px 180px;
    text-align: center;
}
.update-form{
    padding: 100px 15px;
    background-color: #e7e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.update-form input[type=text]{
    width: 300px;
    padding: 15px;
    border:0;
    border-radius: 5px;

}
.update-form .btn-primary{
    padding: 11px 12px;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
 
}


/* footer */
.footer{
    padding: 100px 180px;
    display: flex;
    justify-content: center;
    background-color: rgb(45, 36, 54);
}

.footer-content{
    text-align: center;
}

.footer-title{
    font-size: 45px;
    font-weight: bolder;
    color:#FF5959;
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'lobster', Courier, monospace;
    margin-bottom: 24px;
}
.footer-description{
    color:#e7e0e0
}